{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Nouveau catégorie</h1>
    <div class="col-md-8">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Valider" class="btn btn-primary" />
                    
                </div>
            </div>
        {{ form_end(form) }}

        <ul class="list-unstyled action">
            <li>
                <a href="{{ path('annonce_categorie_index') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Retour liste</a>
            </li>
        </ul>
 </div>
{% endblock %}